[Unit]
Description=Package Updates Notifier (Go)
After=network-online.target

[Service]
Type=oneshot
User=root
WorkingDirectory=/opt/update-noti
ExecStart=/opt/update-noti/update-noti
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
